body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: dodgerblue;
}

.game-grid {
  display: flex;
  flex-direction: column;
}

.game-row {
  display: flex;
  flex-direction: row;
}

.tile {
  border-style: solid;
  border-width: thin;
  min-width: 100px;
  min-height: 100px;
  text-align: center;


}

.tile button {
  min-width: 90%;
  min-height: 90%;
  font-size: 50px


}
